/* styles/globals.css */
:root {
  --primary-color: #3E5159;
  --secondary-color: #F27405;
  --accent-color: #F25C05;
  --background-color: #F2F2F2;
  --highlight-color: #F2B591;
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: Arial, sans-serif;
}
